#*#
.#*
*~
_site/
*/src/META-INF/
*/src/main/java/META-INF/
src/main/webapp/shared/m/js/node_modules
bin/
target/
.classpath
.project
.DS_Store
.settings/
.springBeans
*.iml
*.iws
*.ipr
.idea/
code/
cargo-installs/
atlassian-ide-plugin.xml
deploy/
/scriptdeploy/
/temp/
npm-debug.log*
**/.vscode
**/node_modules/
